.input {
  border: 2px solid white;
  border-radius: 1rem;
  text-align: center;
}

.inputError {
  border: 2px solid red;
  border-radius: 1rem;
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}
